//
//  Theme variables
//  _____________________________________________
@message__margin: 0 auto;

@message-ath-banner__color: @color-white;
@message-ath-banner__background: @color-blue-dodger;
@message-ath-banner-link__color: @link__color;
@message-ath-banner-link__color-hover: @link__hover__color;
@message-ath-banner-link__color-active: @link__active__color;
@message-ath-banner__border-color: none;
@message-ath-banner__button-color: @color-gray-darken4;
@message-ath-banner__button-background-color: @color-white;



//
//  Global notice
//  ---------------------------------------------

.message.global {
    p {
        margin: 0;
    }

    &.ath-banner {
        background-color: @message-ath-banner__background;

        .banner-toolbar {
            .lib-message(@_message-type: ath-banner);
            max-width: @layout__max-width;
            text-align: left;
            width: auto;

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .ath-xml-button button.action {
                background-color: @message-ath-banner__button-background-color;
                color: @message-ath-banner__button-color;
            }

            .ath-xml-info {
                align-self: center;
                color: @message-ath-banner__color;
                font-size: @font-size__base;
            }
        }
    }
}


//
//  Layout Viewer
//  ---------------------------------------------

#ath-banner-modal [role='tablist'] .item.content {
    height: 60vh;
    overflow: scroll;

    div.inner-content {
        min-width: 1400px;
        width: 100%;
    }
}


//
//  Template Hints
//  ---------------------------------------------

.adv-template-hints {
    border: 1px solid #ff0000;
    display: block;
    height: auto;
    width: auto;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    max-width: unset;
    min-width: unset;
}

.adv-debugging-hints {
    border: 1px dotted red;
    margin: 6px 2px;
    padding: 18px 2px 2px 2px;
    position: relative;

    .page-actions {
        position: relative;
        z-index: 1;

        .adv-debugging-hint-template-file {
            background: red;
            color: white;
            font: normal 11px Arial;
            left: auto;
            padding: 2px 5px;
            position: absolute;
            right: 0 !important;
            top: 0;
            white-space: nowrap;
        }
    }
}

.adv-debugging-hint-block-class {
    background: red;
    color: blue;
    font: normal 11px Arial;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
}

