<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\View\Model\Layout\Merge"
                type="KallieExperiments\AdvTemplateHints\ModelView\Layout\Merge"/>
    <preference for="Magento\Framework\View\Element\Template"
                type="KallieExperiments\AdvTemplateHints\ModelView\Element\Template"/>
</config>
